# Penerapan apply() and map() pada Element, kolom atau DataFrame

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
np.__version__, pd.__version__

('1.24.3', '2.2.2')

In [4]:
df = pd.read_csv('dataset/iris.csv')
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
# Seperti namanya, terapkan fungsi di sepanjang sumbu DataFrame
# np.cumsum : Mengembalikan jumlah kumulatif element di sepanjang sumbuh tertentu.

df.apply(np.cumsum)

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,5.1,3.5,1.4,0.2,setosa
1,10.0,6.5,2.8,0.4,setosasetosa
2,14.7,9.7,4.1,0.6,setosasetosasetosa
3,19.3,12.8,5.6,0.8,setosasetosasetosasetosa
4,24.3,16.4,7.0,1.0,setosasetosasetosasetosasetosa
...,...,...,...,...,...
145,851.6,446.7,543.0,171.9,setosasetosasetosasetosasetosasetosasetosaseto...
146,857.9,449.2,548.0,173.8,setosasetosasetosasetosasetosasetosasetosaseto...
147,864.4,452.2,553.2,175.8,setosasetosasetosasetosasetosasetosasetosaseto...
148,870.6,455.6,558.6,178.1,setosasetosasetosasetosasetosasetosasetosaseto...
149,876.5,458.6,563.7,179.9,setosasetosasetosasetosasetosasetosasetosaseto...

In [6]:
def hello_world():
    print('Hello World')
    
hello_world()
a = 10

Hello World

In [7]:
# Map : ini mengulangi setiap element dari series
df['Petal.Length'].map(lambda x : 1 + x) # ini akan mendapatkan konstanta 1 ke setiap element kolom 1

0      2.4
1      2.4
2      2.3
3      2.5
4      2.4
      ...
145    6.2
146    6.0
147    6.2
148    6.4
149    6.1
Name: Petal.Length, Length: 150, dtype: float64

In [8]:
func = lambda x : x + 1

df_filtered = df.iloc[:, 2:4]

In [9]:
# Before apply map
df_filtered

     Petal.Length  Petal.Width
0             1.4          0.2
1             1.4          0.2
2             1.3          0.2
3             1.5          0.2
4             1.4          0.2
..            ...          ...
145           5.2          2.3
146           5.0          1.9
147           5.2          2.0
148           5.4          2.3
149           5.1          1.8

[150 rows x 2 columns]

In [10]:
# After apply map
df_filtered.applymap(func)

C:\Users\Irfan Yasin\AppData\Local\Temp\ipykernel_17424\4289144568.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_filtered.applymap(func)

     Petal.Length  Petal.Width
0             2.4          1.2
1             2.4          1.2
2             2.3          1.2
3             2.5          1.2
4             2.4          1.2
..            ...          ...
145           6.2          3.3
146           6.0          2.9
147           6.2          3.0
148           6.4          3.3
149           6.1          2.8

[150 rows x 2 columns]